/* color theme */
:root{
    --phonk-magenta: #f82dd2;
    --phonk-orange: #ff430a;
    --phonk-green: #4fce3b;
    --phonk-gray: #37095d;
    --phonk-blue: #00e7ec;
    --phonk-purple: #6e05be;
    --hex-orange: 255, 67, 10;
    --hex-yellow: 245, 238, 43;
    --hex-purple: 192, 77, 223;
    --hex-blue: 0, 231, 236;
    --hex-magenta: 248, 45, 210;
    --hex-green: 79, 206, 59;
}
html {
    font-family: "Gugi", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* star */
svg{
    height: 20px;   
}

/* grid area */
body {
    height: auto;
    margin: 0;
    grid-template-areas:
        'header'
        'nav'
        'main-content'
        'left-aside-1'
        'left-aside-2'
        'footer';
}
body > header {
    grid-area: header;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}
body > nav {
    grid-area: nav;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}
body > #main {
    grid-area: main-content;
    background-color: #fff;
    /* padding: 40px; */
    /* background-image: linear-gradient(var(--phonk-orange), var(--phonk-magenta) 90%); */
    /* background-color: var(--phonk-gray); */
}
body > .profile {
    grid-area: left-aside-1;
}
body > #styles {
    grid-area: left-aside-2;
}
body > footer {
    grid-area: footer
}

/* all container */
.container {
    display: flex;
    margin: auto;
    flex-direction: column;
}
/* aside */
.profile > .container, #styles > .container{
    background-color: rgba(var(--hex-green), 1);
    padding: 40px;
}
aside {
    background-color: rgba(var(--hex-green), 0.7);
}
aside.profile > .container {
    position: sticky;
    top: 0px;
    height: auto;
}
aside#styles > .container {
    position: sticky;
    top: 0px;
    height: auto;
}
aside > .container > ul {
    list-style: none;
    padding: 0;
    border-radius: 5px;
}
aside > .container > ul > li {
    padding: 10px;
    background: rgba(46,139,87, 0.9);
}
aside > .container > ul > li:hover {
    background: darken(rgba(var(--hex-green), 1), 7%);
    border: 2px solid green; 
}


/* articles */
article {
    padding: 40px;
    padding-bottom: 100px;
}
article#about {
    background-image: linear-gradient(rgba(var(--hex-magenta), 0.6), #fff);
}

article#guidelines {
    background-image: linear-gradient(rgba(var(--hex-orange), 0.6), #fff);
}

article#contribute {
    background-image: linear-gradient(rgba(var(--hex-blue), 0.6), #fff);
}

/* links */
a:link { 
    text-decoration: none; 
} 
a:visited { 
    text-decoration: none; 
} 
a:hover { 
    text-decoration: none; 
} 
a:active { 
    text-decoration: none; 
}
a { 
    text-decoration: none; 
    color: rgba(1, 1, 122, 0.9);
    font-weight: bolder;
} 

/* header and nav bar */
header > .container {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 60px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}
nav > ul{
    list-style: none;
    display: flex; 
    background-color: #fff;
    margin: 0;
    width: 100%;
    justify-content: space-around;
    padding-left: 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
nav > ul > li {
    flex-basis: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    min-height: 70px;
    justify-content: center;
}
nav > ul > li > a {
    position: relative;
    font-size: 1.4rem;
    padding: 5px 0;
    color: black;
}
nav > ul > li:hover {
    background: linear-gradient(to bottom right, rgba(var(--hex-purple), 0.9), 20%, rgba(var(--hex-orange), 0.9));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
} 
header a {
    color: #fff;
}

/* heading size */
h2, h3{
    font-size: 3rem;
    margin-top: 24px;
    margin-bottom: 24px;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}
h4 {
    font-size: 2rem;
}
h1 {
    font-size: 120px;
    margin: 0;
}

/* typewriter effect https://css-tricks.com/snippets/css/typewriter-effect/ */
header > .container > h2 {
    font-size: 2rem;
    overflow: hidden;
    /* border-right: .15em solid var(--phonk-blue); */
    white-space: nowrap; 
    margin: 0 auto;
    animation: 
        typing 3.5s steps(40, end);
}
  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* blockquote */
blockquote {
    position: relative;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
}
blockquote::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 30px; 
    padding: 5px; 
    background: linear-gradient(#fff, rgba(var(--hex-magenta), 0.6));
    mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            -webkit-mask-composite: exclude; 
}

/* article list */
article#about > .container > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-between;
}
article#about > .container > ul > li {
    padding: 20px;
    color: var(--phonk-purple);
    cursor: pointer;
    margin: 10px;
    position: relative;
}
article#about > .container > ul > li::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 5px; 
    padding: 5px; 
    background: linear-gradient(#fff, rgba(var(--hex-purple), 0.6));
    mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            -webkit-mask-composite: exclude; 
}

/* ordered list  */
ol {
    list-style: none;
}
ol li {
    margin: 0 0 0.5rem 0;
    counter-increment: my-awesome-counter;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* numbers for ordered list */
ol li::before {
    content: counter(my-awesome-counter);
    color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: var(--size);
    width: var(--size);
    height: var(--size);
    top: 5px;
    background: var(--phonk-gray);
    border-radius: 50%;
    text-align: center;
    box-shadow: 1px 1px 0 #999;
}


/* footer */
.page-footer {
    background: linear-gradient(#fff, 60%, #d3d3d3);
    padding: 40px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* skip */
.skip-link {
    position: absolute;
    top: 8px;
    color: #fff;
}

/* big screen */
@media (min-width:768px) {
    body {
        display: grid;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 100px;
        margin-top: 20px;
        height: auto;
        grid-template-columns:repeat(4, 1fr);
        grid-template-areas:
            'header header header header'
            'nav nav nav nav'
            'left-aside-1 main-content main-content main-content'
            'left-aside-2 main-content main-content main-content'
            'footer footer footer footer';
            /* background-image: linear-gradient(var(--phonk-gray), 80%, var(--phonk-magenta)); */
            background-image: url("img/neon.jpg");
            background-repeat: no-repeat;
            background-size: cover;     
    }
}
/* mobile */
@media (max-width:767px){
    header {
        background-color: black;
        padding: 40px;
    }
    header > .container, header > .container > h2 {
        white-space: normal;
    }
}